
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        <form method="post" action="login">
            <input name="username" />
            <input name="password" type="password" />
            <input name="returnUrl" type="hidden" />
            <button type="submit">登录</button>
        </form>
    </div>
    <script>
        var str = location.search;
        str = str.substring(1, str.length);
        var arr = str.split('&');
        var whatineedisreturnurl = "";
        for (var i = 0; i < arr.length; i++) {
            var part = arr[i].split('=');
            if (part[0] == "returnUrl") {
                whatineedisreturnurl = part[1];
                whatineedisreturnurl = whatineedisreturnurl.split('&')[0];
                whatineedisreturnurl = whatineedisreturnurl.split('?')[0];
            }
        }
        var input = document.getElementsByName("returnUrl")[0];
        input.value = whatineedisreturnurl;
    </script>
</body>
</html>
